
<html>
    <head>
        <title>Hub Pathway Search</title>
        <script language="JavaScript" type="text/javascript" src="../static/scripts/jquery/jquery-latest.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="../static/scripts/bootstrap/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/styles/bootstrap/bootstrap.css" />
    </head>
    <body>
        <div class="col-md-6 col-md-offset-3">
            <h1>Help</h1>
            <br>
            <h2>Visualization</h2>
            <h3>Legend</h3>
            <p>
            <li><b>Green node:</b> start compound</li>
            <li><b>Red node:</b> goal compound</li>
            <li><b>Gray node:</b> intermediary compounds</li>
            <li><b>Solid edge:</b> reaction edge between compounds</li>
            <li><b>Dashed edge:</b> represents an abstraction of multiple pathways between two hub compounds. Click to expand and view hub-to-hub pathways.</li>
            </p>
            <h3>Controls</h3>
            <p>
                <li>Click on a node to view more information about that compound in the info panel (left sidebar)</li>
                <li>Click on a hub link (dashed edge between yellow nodes) to view all the pathways between the two hub compounds</li>
                <li>Right-click or CTRL+click on a node to view filtering options for that node</li>
                <li>Click and drag on the canvas (gray background) to move the viewport</li>
                <li>Click and drag a node to move it around and fix its location.</li>
                <li>Double click a fixed-position node to release it</li>
                <li>Scroll on the canvas to zoom in and out</li>
            </p>
            <br>
            <h2>Filtering</h2>
            <br>
            <p>
                TODO: explain the semantics of filtering
            </p>
            <br>
            <h2>Search</h2>
            <br>
            <p>
                TODO: some text about the search page, executing a search, etc.
            </p>
            <br>
        </div>
    </body>

</html>
