
<html>
    <head>
        <script language="JavaScript" type="text/javascript" src="../static/scripts/jquery/jquery-latest.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="../static/scripts/bootstrap/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/styles/bootstrap/bootstrap.css" />
    </head>
    <body>
        <div class="col-md-6 col-md-offset-3">
            <h1>Help</h1>
            <br>
            <h2>Search</h2>
            <br>
            <p>Some text about the search page, executing a search, etc.</p>
            <br>
            <br>
            <h2>Visualization</h2>
            <br>
            <p>Some text about the visualization page, how to use it, features, etc.</p>
        </div>
    </body>

</html>
