<html>
    <head>
        <script language="JavaScript" type="text/javascript" src="../static/scripts/jquery/jquery-latest.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="../static/scripts/bootstrap/bootstrap.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="../static/scripts/search-page.js"></script>
        <script language="JavaScript" type="text/javascript" src="../static/scripts/select2.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/styles/bootstrap/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="../static/styles/select2.min.css" />
    </head>

    <body>
        <div class="row col-md-6 col-md-offset-3">
            <h1>Metabolic Pathway Search</h1>
            <h4>
                <br>
                <a href="/help">help</a>
                <br>
            </h4>
        </div>

        <div class="row col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Previous Searches</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead><tr>
                            <th>Start</th>
                            <th>Target</th>
                            <th>Conserved Atoms</th>
                            <th>Results</th>
                        </tr></thead>
                        <tbody>
                            <tr>
                                <td>C00031</td>
                                <td>C00078</td>
                                <td>?</td>
                                <td><button id="test" class="btn btn-default" onclick="load_search('test')">View</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Load Visualization</h3>
                </div>
                <div class="panel-body">
                    <button class="btn btn-success" onclick="upload()">Upload & visualize existing metabolic pathway data</button>
                </div>
            </div>
        </div>


        <div class="row col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Search Configuration</h3>
                </div>

                <div class="panel-body">
                    <div class="form-group">
                        <label for="algorithm">Algorithm</label>
                        <br>
                        <select class="form-control" id="algorithm">
                            <option>Hub Search</option>
                            <option>LPAT</option>
                            <option>MetaGraph</option>
                        </select>
                    </div><br>

                    <div class="form-group">
                        <label for="start-compound">Start Compound</label>
                        <select class="form-control" id="start-compound"></select>
                    </div><br>

                    <div class="form-group">
                        <label for="target-compound">Target Compound</label>
                        <select class="form-control" id="target-compound"></select>
                    </div><br>

                    <div class="form-group">
                        <label for="num-atoms">Number of Conserved of Atoms</label>
                        <input type="number" class="form-control" data-toggle="popover" data-placement="right" data-trigger="focus"
                                                                                                               id="num-atoms" data-content="Enter the minimum number of atoms that should be conserved in discovered pathways. If value is < 1, the max number of atoms will try to be conserved" value=0>
                        </input>
                    </div><br>


                    <div class="form-group">
                        <label>Allow Reversible Reactions</label><br>
                        <input type="checkbox" id="allow-reversible" checked> If enabled, the reverse of a reaction direction will be considered</input>
                    </div><br>

                    <a data-toggle="collapse" href="#collapsible-options" aria-expanded="false" aria-controls="collapsible-options">
                        View more options
                    </a>

                    <div class="collapse" id="collapsible-options">
                        More options
                    </div><br><br>

                    <button class="btn btn-primary" onclick="search()">Execute pathway search</button>
                    <br>
                    <div id="alert-location"></div>
                </div>
            </div>
        </div>
    </body>

</html>
