<html>
    <head>
        <script language="JavaScript" type="text/javascript" src="../static/scripts/jquery/jquery-latest.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="../static/scripts/bootstrap/bootstrap.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="../static/scripts/search-page.js"></script>
        <script language="JavaScript" type="text/javascript" src="../static/scripts/select2.full.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/styles/bootstrap/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="../static/styles/select2.min.css" />
    </head>

    <body>
        <div class="row col-md-6 col-md-offset-3">
            <h1>Metabolic Pathway Search</h1>
            <h4>
                <br>
                <a href="/help">help</a>
                <br>
            </h4>
        </div>

        <div class="row col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Example Searches</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead><tr>
                            <th>Start</th>
                            <th>Target</th>
                            <th>Algorithm</th>
                            <th>Results</th>
                        </tr></thead>
                        <tbody>
                            <tr>
                                <td>Pyruvate (C00022)</td>
                                <td>3-HP (C01013)</td>
                                <td>LPAT</td>
                                <td><a id="test" class="btn btn-default" href="/visualize/C00022-C01013">View</a></td>
                            </tr>
                            <tr>
                                <td>Pyruvate (C00022)</td>
                                <td>L-Lysine (C00047)</td>
                                <td>LPAT</td>
                                <td><a id="test" class="btn btn-default" href="/visualize/C00022-C00047">View</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <a onclick="get_available_searches()">View more pathways</a>
                    <div id="more-pathways"></div>
                </div>
            </div>
        </div>

        <div class="row col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Load Visualization</h3>
                </div>
                <div class="panel-body">
                    <button class="btn btn-success" onclick="upload()">Upload & visualize existing metabolic pathway data</button>
                </div>
            </div>
        </div>


        <div class="row col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Search Configuration</h3>
                </div>

                <div class="panel-body">
                    <div class="form-group">
                        <label for="algorithm">Algorithm</label><br>
                        <select class="form-control" id="algorithm"></select>
                    </div><br>

                    <div class="form-group">
                        <label for="start-compound">Start Compound</label>
                        <select class="form-control" id="start-compound"></select>
                    </div><br>

                    <div class="form-group">
                        <label for="target-compound">Target Compound</label>
                        <select class="form-control" id="target-compound"></select>
                    </div><br>

                    <div class="form-group" id="hub-compounds-group">
                        <label for="target-compound">Hub Compounds</label>
                        (
                        <a onclick="select_all_hubs()">select all</a>
                        /
                        <a onclick="remove_all_hubs()">remove all</a>
                        )
                        <select class="form-control"  multiple="multiple" id="hub-compounds" data-toggle="popover" data-placement="right" data-trigger="focus" data-content="Sample help text"></select><br>

		    </div><br>

		    <div class="form-group" id="hub-database-group">

			<label for="hub-db">Hub Database</label>
			
			<select class="form-control" id="hub-db"></select>

                    </div><br>

                    <div class="form-group" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="Select the level of carbon tracking. Max will convserve the most possible, One will conserve at least one carbon.">
                        <label for="carbontracking">Carbon Tracking</label><br>
                        <input type="radio" name="carbontracking" value="max" checked> Max &nbsp&nbsp&nbsp&nbsp</input>
                        <input type="radio" name="carbontracking" value="one"> One &nbsp&nbsp&nbsp&nbsp</input>
                        <input type="radio" name="carbontracking" value="no"> None &nbsp&nbsp&nbsp&nbsp</input>
                        </input>
                    </div><br>


                    <div class="form-group">
                        <label>Allow Reversible Reactions</label><br>
                        <input type="checkbox" id="allow-reversible" checked> If enabled, the reverse of a reaction direction will be considered</input>
                    </div><br>

                    <a data-toggle="collapse" href="#collapsible-options" aria-expanded="false" aria-controls="collapsible-options">
                        View more options
                    </a>

                    <div class="collapse" id="collapsible-options">
                        More options
                    </div><br><br>

                    <button class="btn btn-primary" onclick="search()">Execute pathway search</button>
                    <br>
                    <div id="alert-location"></div>
                </div>
            </div>
        </div>
    </body>

</html>
