<html>
    <head>
        <script language="JavaScript" type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="../static/scripts/jquery/jquery-latest.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="../static/scripts/bootstrap/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/styles/bootstrap/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="../static/styles/viz-page.css" />
        <link rel="stylesheet" type="text/css" href="../static/styles/d3-context-menu.css" />

        <!-- Load the visualization code -->
        <script language="JavaScript" type="text/javascript" src="../static/scripts/d3-context-menu.js"></script>
        <script language="JavaScript" type="text/javascript" src="../static/scripts/viz-page.js"></script>
        <script language="JavaScript" type="text/javascript" src="../static/scripts/hub-view.js"></script>
        <script language="JavaScript" type="text/javascript" src="../static/scripts/filtering.js"></script>
    </head>
    <body>
        <div class="row">

            <div class="col-md-3">
                <h3>Metabolic Pathway Visualization</h3>
                <h4>
                    <a href="/">go back</a>
                    &nbsp&nbsp&nbsp&nbsp
                    <a href="/help">help</a>
                </h4>


                <div class="panel panel-default" id="load-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Load Visualization</h3>
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            <label>Upload Graph Data</label>
                            <input id="graph-data" onchange="upload()" type="file" class="form-control" data-toggle="popover" data-placement="right" data-trigger="focus"
                             data-content="Select a previously exported metabolic pathway graph in JSON format.">
                        </div>
                    </div>
                </div> <!-- load-panel -->

                <div class="panel panel-success" id="info-panel" style="visibility: hidden">
                    <div class="panel-heading">
                        <h3 class="panel-title" id="title"></h3>
                    </div>
                    <div class="panel-body" id="info-panel-body">
                        Retrieving data from KEGG...
                    </div>
                </div> <!-- info-panel -->

                <div id="options-column" style="visibility: hidden">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Filter</h3>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <label>Exclude pathways containing:</label>
                                <input type="text" id="excluded-ids" class="form-control" data-toggle="popover" data-placement="right" data-trigger="focus"
                                 data-content="Enter one or more KEGG IDs, separate with a comma (no spaces)">
                            </div>

                            <div class="input-group">
                                <label>Only include pathways containing:</label>
                                <input type="text" id="included-ids" class="form-control" data-toggle="popover" data-placement="right" data-trigger="focus"
                                 data-content="Enter one or more KEGG IDs, separate with a comma (no spaces)">
                            </div>

                            <div class="input-group">
                                <label>Exclude pathways longer than:</label>
                                <input type="number" id="max-path-len" class="form-control" data-toggle="popover" data-placement="right" data-trigger="focus"
                                 data-content="Specify a maximum path length, must be an integer greater than 1">
                            </div>

                            <button class="btn btn-default" onclick="apply_filters()">Apply</button>
                            <button class="btn btn-default" onclick="reset_filters()">Reset</button>
                        </div>
                    </div>

                </div> <!-- options-column -->


            </div> <!-- col-md-3options-column -->

            <div class="col-md-9" id="viz-column">
                <div id="hub-btns" style="visibility: hidden;">
                    <button class="btn btn-default" onclick="close_hub_view()">&#8592; return to pathways</button>
                </div>

                <!-- The visualizations will be filled in here. -->
            </div>

        </div>
    </body>

</html>
