<html>
    <head>
        <script language="JavaScript" type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="../static/scripts/jquery/jquery-latest.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="../static/scripts/bootstrap/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/styles/bootstrap/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="../static/styles/viz-page.css" />
    </head>
    <body>
        <div class="row">
            <div class=" col-md-3">
                <h1>Metabolic Pathway Visualization</h1>
                <br><br>
            </div>
            <div class="col-md-9">
                <!-- Create a canvas for the visualization -->
                <svg id="viz" width="720" height="720"></svg>

                <!-- Load the visualization code -->
                <script language="JavaScript" type="text/javascript" src="../static/scripts/viz-page.js"></script>
            </div>
        </div>
    </body>

</html>
