<html>
    <head>
        <script language="JavaScript" type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="../static/scripts/jquery/jquery-latest.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="../static/scripts/bootstrap/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/styles/bootstrap/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="../static/styles/viz-page.css" />
    </head>
    <body>
        <div class="row">

            <div class="col-md-3">
                <h3>Metabolic Pathway Visualization</h3>
                <h4>
                    <a href="/">go back</a>
                    &nbsp&nbsp&nbsp&nbsp
                    <a href="/help">help</a>
                <h4>


                <div class="panel panel-default" id="load-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Load Visualization</h3>
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            <label>Upload Graph Data</label>
                            <input id="graph-data" onchange="upload()" type="file" class="form-control" data-toggle="popover" data-placement="right" data-trigger="focus"
                             data-content="Select a previously exported metabolic pathway graph in JSON format.">
                        </div>
                    </div>
                </div> <!-- load-panel -->

                <div class="panel panel-success" id="info-panel" style="visibility: hidden">
                    <div class="panel-heading">
                        <h3 class="panel-title" id="title"></h3>
                    </div>
                    <div class="panel-body" id="info-panel-body">
                        Retrieving data from KEGG...
                    </div>
                </div> <!-- info-panel -->

                <div id="options-column" style="visibility: hidden">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Other Options</h3>
                        </div>
                        <div class="panel-body">
                            alsdfjlaksjdf
                            <br>
                            as
                            dfa
                            <br>
                            sfd
                            adsfj
                            af
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Other Options</h3>
                        </div>
                        <div class="panel-body">
                            alsdfjlaksjdf <br> as dfa <br> sfd adsfj af
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Other Options</h3>
                        </div>
                        <div class="panel-body">
                            alsdfjlaksjdf <br> as dfa <br> sfd adsfj af
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Other Options</h3>
                        </div>
                        <div class="panel-body">
                            alsdfjlaksjdf <br> as dfa <br> sfd adsfj af
                        </div>
                    </div>
                </div> <!-- options-column -->


            </div> <!-- col-md-3options-column -->

            <div class="col-md-9" id="viz-column">
                <!-- Create a canvas for the visualization -->
                <svg id="viz" style="visibility: hidden"></svg>

                <!-- Load the visualization code -->
                <script language="JavaScript" type="text/javascript" src="../static/scripts/viz-page.js"></script>
            </div>

        </div>
    </body>

</html>
