
.nodes circle {
    cursor: pointer;
    pointer-events: all;
    r: 14px;
    stroke-width: 3px;
}

.start-node {
    fill: #0f0;
}

.goal-node {
    fill: #f00;
}

.hub-node {
    fill: #efc406;
}

.hub-source-node {
    fill: #0a0;
}

.hub-target-node {
    fill: #a00;
}

.internal-node {
    fill: #999;
}

.node {
    fill: #555;
}

.links line {
    pointer-events: all;
    stroke: #555;
}

.link {
    stroke-width: 4px;
}

.hub-link {
    cursor: pointer;
    stroke-dasharray: 10 5;
    stroke-width: 4px;
}

.internal-link {
    stroke-width: 3px;
}


#viz {
    background-color: #ededed;
}

#hub {
    background-color: #ededed;
}

.col-md-3 {
    padding-left: 30px;
    height: 100vh;
}

.modal-lg {
    width: 80%;
}

.modal-body {
    height: 70vh;
    padding: 0px;
}

.toolbar {
    font-size: 24px;
}

#info-panel-body {
    overflow: scroll;
}

#options-column {
    height: 90vh;
    overflow: scroll;
}

#viz-column {
    height: 100vh;
    padding: 0px;
}

#hub-btns {
    margin: 10px;
    position: absolute;
}

.input-group {
    margin-bottom: 10px;
}

a:hover {
    cursor: pointer;
}

#select-dropdown {
    width: 100%;
}
