
.nodes circle {
    cursor: pointer;
    pointer-events: all;
    r: 14px;
    stroke-width: 3px;
}

.start-node {
    fill: #0f0;
}

.goal-node {
    fill: #f00;
}

.hub-node {
    fill: #efc406;
    r: 18px !important;
}

.hub-start-node {
    fill: #0f0;
}

.hub-target-node {
    fill: #f00;
}

.internal-node {
    fill: #d2f;
}

.node {
    fill: #555;
}

.links line {
    pointer-events: all;
    stroke: #555;
}

.link {
    stroke-width: 4px;
}

.hub-link {
    cursor: pointer;
    stroke-dasharray: 10 10;
    stroke-width: 6px;
}

.internal-link {
}

.node-label {}

#viz {
    background-color: #ededed;
}

#hub {
    background-color: #dedede;
}

.col-md-3 {
    padding-left: 30px;
    height: 100vh;
}

.modal-lg {
    width: 80%;
}

.modal-body {
    height: 70vh;
}

.toolbar {
    font-size: 24px;
}

#info-panel-body {
    height: 25vh;
    overflow: scroll;
}

#options-column {
    height: 50vh;
    overflow: scroll;
}

#viz-column {
    height: 100vh;
    padding: 0px;
}
