
.nodes circle {
  cursor: pointer;
  pointer-events: all;
  r: 10px;
  stroke: none;
  stroke-width: 40px;
}

.hub_nodes {
  pointer-events: all;
  r: 10px;
  stroke: #555;
  stroke-width: 2px;
}

.links line {
  stroke: #aaa;
  stroke-width: 4px;
}

#viz {
    background-color: #ededed;
}

.col-md-3 {
    padding-left: 30px;
    height: 100vh;
}

#info-panel {
    height: 25vh;
}

#options-column {
    height: 50vh;
    overflow: scroll;
}

#viz-column {
    height: 100vh;
    padding: 0px;
}
